html {
    background-color: grey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

div.header {
    width: 800px;
    border: 10px solid whitesmoke;
    background-color: whitesmoke;
    padding: 5px;
    margin-left:25px;
    margin-bottom: 10px;
    text-align: center;
    color: grey;
}

.nav {
    width: 800px;
    border: 10px solid whitesmoke;
    background-color: whitesmoke;
    padding: 5px;
    margin-left:25px;
    margin-right: 15%;
    margin-bottom: 10px;
    text-align: center;
    color: grey;
}


.section {
    width: 450px;
    height: 250px;
    border: 10px solid whitesmoke;
    background-color: whitesmoke;
    padding: 5px;
    margin-left:25px;
    margin-bottom: 10px;
    text-align: center;
    color: grey;
    float: left;
    display: block;
}

.article {
    height: 85%;
    background-color: grey;
    color: whitesmoke;
    /* margin-top: 5%; */
    padding-top: 20px;
}

.headings {
    height: 30%;
    /* width: 100%; */
    background-color: whitesmoke;
    color: grey;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    font-weight: 900;
    padding-top: 5px;
    line-height: 50px;
}

.paragraph {
    height: 30%;
    /* width: 100%; */
    background-color: whitesmoke;
    color: grey;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    line-height: 50px;
}


.aside {
    width: 310px;
    height: 250px;
    border: 10px solid whitesmoke;
    background-color: whitesmoke;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-align: center;
    color: grey;
    float: left;
    display: block;
}

.footer {
    width: 800px;
    height: 20x;
    border: 10px solid white;
    background-color: white;
    padding: 5px;
    margin-left:25px;
    margin-right: 15%;
    margin-bottom: 10px;
    text-align: center;
    color: grey;
    display: block;
    float: left;
}